.box{
  width: 100px;
  height: 100px;
  background-color: 
  #9fc5f8;
  border: 1px solid black;
  
}
  .flex{
    display: flex;
    width: 436px;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    padding: auto; 
    
  }
  h1{
    text-align: center;
  }