*{
    text-decoration: none;
    color: white;
    margin: auto;
    /* font-family: 'Roboto', sans-serif; */
}

.nav{
    display: flex;
    background-color: #333333;
    height:  50px;
    /* width: 70%; */
    align-items: center;
    
    /* justify-content: space-between; */
    
    padding: 0px 15px;
    font-family: sans-serif;
    
    
}
.active{
    font-weight: bold;
}
.nav-title{
    flex: 2;
}
li{
    
    list-style-type: none;
}
.nav-links{
    display: flex;
    flex: 1;
    align-items:center
    font-family: 'Roboto', sans-serif;
}
.btn{
    background-color: 
    #17a2b8;
    color: white; 
    box-shadow: 10px 5px 5px black;
    border: 1px  ;
    font-family: 'Roboto', sans-serif;
}